.gitignore
.idea/
.mypy_cache/
lab_01/__pycache__/
lab_02/__pycache__/
lab_03/__pycache__/
lab_04/__pycache__/
lab_05/__pycache__/
lab_06/__pycache__/
lab_07/__pycache__/
lab_08/__pycache__/
lab_09/__pycache__/
lab_10/__pycache__/
lab_01/.DS_Store/
lab_02/.DS_Store/
lab_03/.DS_Store/
lab_04/.DS_Store/
lab_05/.DS_Store/
lab_06/.DS_Store/
lab_07/.DS_Store/
lab_08/.DS_Store/
lab_09/.DS_Store/
lab_10/.DS_Store/
